<messagesForm (addMessage)="optimisticAdd($event)" (addMessagePs)="pasimisticAdd()" ></messagesForm>
<h2>
  List of messages
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of messagesKeys">
    <a [routerLink] = "[/message, key]" >{{'message number '+key+':'+' '+ messages[key].body}}</a>
  <button class="btn btn-warning" (click)="deleteMessage(key)">Delete</button>
  </li>
</ul>

